# ┏━━━━━━━━━━━┓
# ┃ gitignore ┃
# ┗━━━━━━━━━━━┛

# ━ Local ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

*/.local/share
*/.local/state
*/.local/bin/*
!*/.local/bin/brightness
!*/.local/bin/color_picker
!*/.local/bin/lib
!*/.local/bin/resource_monitor
!*/.local/bin/screenshot
!*/.local/bin/volume
*/.local/share/icons/hicolor

# ━ Agent ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

/.claude/
/.serena/
